*{
    margin: 0;
    padding: 0;
}
body{
    background:linear-gradient(red,white,green);
}

.logo img{
    width: 100px;   
}
nav{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(147, 132, 165);
    border-radius: 500vh;
}
.con{
    font-family: 'Times New Roman', Times, serif;
    color: antiquewhite;
    font-size: 50px;
    padding: 5px;
    font-weight: bolder;
}

.container{
    background-color: rgb(140, 211, 162);
    margin: auto;
    /* justify-content: center; */
    width: 50vw ;
    align-items: center;
}